<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.faceexpressiontransfer">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.harware.camera2"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FaceExpressionTransfer">
        <activity
            android:name=".Load_app"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".MainActivity"
            android:label="Select image or capture your face"/>

        <activity android:name=".SendImage"
            android:label="Send image"/>
        <activity android:name=".Sending"
            android:label="Sending image to server" />
        <activity android:name=".UnityScene"
            android:label="Unity Scene" />
        <activity android:name=".Update"
            android:label="Sending items to server" />

        <activity android:name=".ConnectionActivity"
            android:label="connection"/>
        <activity android:name=".Background"
            android:label="Change Background image"/>
        <activity android:name=".Game"
            android:label="Game!!"/>
        <activity android:name=".GameUnity"
            android:label="Game!!"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.faceexpressiontransfer.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>